@page
@model Lab4new.Pages.Cards.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Trading Cards</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Card[0].RemoteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Card[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Card[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Card[0].Picture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Card)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RemoteId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Picture)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.CardID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.CardID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.CardID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
